/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family:
    "Noto Sans",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1280px;
  min-height: 100vh;
  padding: 0 112px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 768px) {
    padding: 0 32px;
  }

  @media screen and (max-width: 425px) {
    padding: 0 16px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-items ul {
  display: flex;
  gap: 24px;
}

.footer-socials {
  margin-top: 32px;
  margin-bottom: 16px;
}

.footer-socials a {
  color: #a3a3a3 !important;
  transition: color 0.2s ease;
}

.footer-socials a:hover {
  color: #4338ca !important;
}

.footer-links li {
  color: #525252;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.footer-links a:hover {
  color: #4338ca;
  text-decoration: underline;
  transition: color 0.2s ease;
}

.footer-copyright {
  color: #171717;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.footer-items a {
  cursor: pointer;
  color: #525252;
  text-decoration: none;
}
